# Xcode
build/
DerivedData/
*.xcworkspace
xcuserdata/
*.xcuserstate

# CocoaPods
Pods/

# Carthage
Carthage/Build/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots

.DS_Store
